#conteneur {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

#form {
    text-align: left;
}
h1{
    text-align: center;
    text-decoration: underline;
}
h6{
    position: relative;
    left: 40px;
}
input {
    border-radius: 10px;
    width: 30%;
    vertical-align: top;
}
button {
    margin-left: 0.5%;
}

ul {
    list-style-type: none;
}

label {
    margin-bottom: 2%;
    display: inline-block;
    width: 22%;
}
.nom{
    border : 3px solid red;
}
.email {
    border: 3px solid red;
}
.conditions{
    color: red;
}
.normal{
    color: black;
    border: 1px groove gray;
}
#paiementMain{
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 80px;
    align-items: flex-end;
}
#paiementSelect{
    display: flex;
    flex-direction: column;
    width: 15%;
}
#paiementInput{
    display: flex;
    flex-direction: column;
    width: 40%;
    position: relative;
    top: 68px;
}
#paiementInput input{
    width: 45%;
}
.paiementInput{
    display: flex;
    flex-direction: column;
}
#positionInput{
    display: flex;
    flex-direction: column;
    position: relative;
    left: 45%;
    bottom: 65px;
}
select {
    margin-bottom: 0.5%;
}
#prixTotal{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
#prixTotal #HTmain{
    width: 30%;
    height: 10%;
    position: relative;
    bottom: 45px;
    left: 25.8%;
}
#prixTotal #TTC{
    width: 30%;
    height: 10%;
    position: relative;
    bottom: 30px;
    left: 25.8%;
}
#euros1{
    position: relative;
    width: 30%;
    left: 56.3%;
    bottom: 50px;
    margin-block-end: -1em;
    margin-block-start: -1em;
}
#euros2{
    position: relative;
    width: 30%;
    left: 56.3%;
    bottom: 25px;
    margin-block-end: -1em;
    margin-block-start: -1em;
}
#conditions{
    width: 5%;
}